/* @import "compass/css3";

@import "compass/css3/transform"; */
@import url(https://fonts.googleapis.com/css?family=Bangers);

html, body {
    font-family: Calibri;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto" sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('signinpic.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}



#app-container {
    display: grid;
    width: 35%;
    height: 90%;
    /* margin: 20px; */
    color: black;
    /* flex-wrap: wrap; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr 1fr 1fr;
    grid-template-areas:
    "chatbutton header header header header hamburger"
    "picture picture picture picture picture picture"
    "doginfo doginfo doginfo doginfo ownerinfo ownerinfo"
    "description description description description description description"
    "decline footermid footermid footermid footermid accept";
}

#chatbutton {
    grid-area: chatbutton;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
    border-radius:6px;
	border:1px solid #d83526;
	display:block;
	cursor:pointer;
	color:#ffffff;
	/* font-size:35px;
	font-weight:bold; */
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    justify-content: center;
    align-items: center;
}

#chatbutton:hover {
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}

#chatbutton:active {
    position:relative;
    top:1px;
}

#header {
    grid-area: header;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
    border-radius:6px;
	border:1px solid #d83526;
	display:block;
	color:#ffffff;
	/* font-size:35px;
	font-weight:bold; */
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

#app-container > div {
    display:flex;
    /* justify-content: center;
    align-items: center; */
    border: 2px solid #e06459;
    border-radius: 10px;
    background-color: rgb(241, 241, 233);
    opacity: 100%;

}

#picture {
   grid-area: picture;
   height: 400px;
   margin: 0;
   padding: 0;
   /* border-radius: px; */
   /* background-image: url("dogimage.jpg"); */
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   max-width: 100%;
   max-height: 100%;
}
#doginfo {
   grid-area: doginfo;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #d48982 100%);
	/* background-color:#facfcb; */
    border-radius:6px;
	border:1px solid #d83526;
	display:block;
	color:#ffffff;
	/* font-size:35px;
	font-weight:bold; */
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    justify-content: left;
    align-items: left;
    font-size: 1.5em;

}

#ownerinfo {
    grid-area: ownerinfo;
    justify-content: left;
    align-items: left;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #d48982 100%);
	/* background-color:#facfcb; */
    border-radius:6px;
	border:1px solid #d83526;
	display:block;
	color:#ffffff;
	/* font-size:35px;
	font-weight:bold; */
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    justify-content: left;
    align-items: left;
    font-size: 1.5em;
/* final change */
}
#description {
    grid-area: description;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #d48982 100%);
	/* background-color:#facfcb; */
    border-radius:6px;
	border:1px solid #d83526;
	display:block;
	color:#ffffff;
	/* font-size:35px;
	font-weight:bold; */
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    justify-content: left;
    align-items: center;  
    font-size: 1.5em;

}

#footer {
    flex: 100%;
    grid-area: footer;
    justify-content: center; 
}

#decline {
    grid-area: decline;
    cursor: pointer;
    font-size: 5em;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #f7a8a1 5%, #ecd9d7 100%);
	/* background-color:#facfcb; */
    border-radius:6px;
	border:1px solid #d83526;
	display:block;
	cursor:pointer;
	/* color:#ffffff; */
	/* font-size:35px;
	font-weight:bold; */
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    justify-content: center;
    align-items: center;
}

#decline:hover {
    background: red;
}

#footermid {
    grid-area: footermid;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
    border-radius:6px;
	border:1px solid #d83526;
	display:block;
	color:#ffffff;
	/* font-size:35px;
	font-weight:bold; */
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    justify-content: center;
    align-items: center;
}

#accept {
    grid-area: accept;
    cursor: pointer;
    font-size: 5em;
    justify-content: left;
    align-items: left;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #f7a8a1 5%, #ecd9d7 100%);
	/* background-color:#facfcb; */
    border-radius:6px;
	border:1px solid #d83526;
	display:block;
	cursor:pointer;
	/* font-size:35px;
	font-weight:bold; */
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    justify-content: left;
    align-items: left;
}

#accept:hover {
    background: green;
}

#hamburger {
    grid-area: hamburger;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
    border-radius:6px;
	border:1px solid #d83526;
	display:block;
	cursor:pointer;
	color:#ffffff;
	/* font-size:35px;
	font-weight:bold; */
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    justify-content: center;
    align-items: center;
}

#hamburger:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    background-color:#e4685d;
    
}
#hamburger:active {
	position:relative;
    top:1px;
}



#dTi:hover {
    cursor: pointer;
    border-radius:6px;
    cursor:pointer;
    color: #fc8d83;
  }

  .wrap {
    padding: 5em 0.5em;
    margin: 0 auto;
  }

  h1 {
    text-align: left;
    font-weight: normal;
    color: #FFFDD0;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.7vw;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
  }

  h1:hover {
    cursor: pointer;
    border-radius:6px;
    color: #fc8d83;
  }

  h2 {
    text-align: center;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    font-size: 8em;
    white-space: nowrap;
    font-size: 4vw;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
  } 

  img {
    width: 100%;
    height: 100%;
    /* flex-wrap: wrap;
    align-self: center; */
  }

  /* Alert modul styles */
  #mainButtonInAlert {
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    color: white;
  }

  #chatButtonInAlert {
    background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    color: white;
  }