/* @import "compass/css3";

@import "compass/css3/transform"; */
@import url(https://fonts.googleapis.com/css?family=Bangers);

html, body {
    font-family: Calibri;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto" sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('signinpic.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;
}

#nupud {
  margin-top: 15%;
}

#startSwipingButton, #profileButton, #addPetButton {
    display: flex;
    width: 40%;
    height: 100%;
    flex-wrap: wrap;
	  justify-content: center;
  	align-content: center;
    align-items: center;
    margin-left: 30%;
    margin-top: 1%;
    
}

#startSwipingButton {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
  border-radius:6px;
	border:1px solid #d83526;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-size:35px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
  /* grid-area: startSwiping; */
}
#startSwipingButton:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
#startSwipingButton:active {
	position:relative;
    top:1px;
}

#profileButton, #addPetButton {
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color:#dbe6c4;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-size:30px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ced9bf;
}
#profileButton:hover, #addPetButton:hover {
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color:#9ba892;
}
#profileButton:active, #addPetButton:active {
	position:relative;
    top:1px;
}



.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #pregBreedId {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #pregBreedId:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown option:hover {background-color: #ddd;}
  
  .show {display: block;}

  #dTi:hover {
    cursor: pointer;
    border-radius:6px;
    cursor:pointer;
    color: #fc8d83;
  }

  h1 {
    text-align: left;
    font-weight: normal;
    color: #FFFDD0;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.7vw;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
  }

  h1:hover {
    cursor: pointer;
    border-radius:6px;
    color: #fc8d83;
  }