/* @import "compass/css3";

@import "compass/css3/transform"; */
@import url(https://fonts.googleapis.com/css?family=Bangers);

html, body {
    font-family: Calibri;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto" sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('signinpic.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;
}

#dTi:hover {
    cursor: pointer;
    border-radius:6px;
    cursor:pointer;
    color: #fc8d83;
  }

  h1 {
    text-align: left;
    font-weight: normal;
    color: #FFFDD0;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.7vw;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
  }

  h1:hover {
    cursor: pointer;
    border-radius:6px;
    color: #fc8d83;
  }

  .btn {
    background-color: #fc8d83;
  }

  .btn:hover {
    background-color: #eb5446;
  }
  
