/* Project specific styles here */

/* @import "compass/css3";

@import "compass/css3/transform"; */
@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
    font-family: Calibri;
}


#app-container {
    display: grid;
    width: 80%;
    height: 80%;
    color: RGB(83, 114, 197);
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "chatbutton header header header header hamburger"
    "picture"
    "doginfo doginfo doginfo doginfo ownerinfo ownerinfo"
    "description description description description description description"
}
#app-container>div {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkcyan;
}
#chatbutton {
    grid-area: chatbutton;
}
#header {
    grid-area: header;
}
#picture {
   grid-area: picture;
   height: 100px;
}

#doginfo {
   grid-area: doginfo;
}
#ownerinfo {
    grid-area: ownerinfo;
}
#description {
    grid-area: description;
}

#footer {
    flex: 100%;
    background:darkgoldenrod;
    justify-content: center;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #pregBreedId {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #pregBreedId:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }

  
  .dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}



body {
    font-family: "Roboto" sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('signinpic.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;
}

h1 {
  text-align: left;
  font-weight: normal;
  color: #FFFDD0;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 2vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
}

h1:hover {
  cursor: pointer;
  border-radius:6px;
  color: #fc8d83;
}


/* .btn {
  background-color: #fc8d83;
}

.btn:hover {
  background-color: #eb5446;
} */

#logInButton {
  background-color: #fc8d83;
  border: white;
}

#logInButton:hover {
  background-color: #eb5446;
}